/*Universal styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    width: 100%;
}

/*Nav*/
nav {
    display: flex;
    flex-direction: row;
    height: 69px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid seashell;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    height: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    flex-basis: 400px;
}

.nav-link {
    list-style: none;
}

.nav-link a {
    color: seashell;
}

.nav-link a:hover {
    text-decoration: none;
}

.nav-link a:active {
    font-size: 25px;
    font-weight: bold;
}

.container {
    margin-top: 70px;
    text-align: center;
}

/*Header*/
header {
    height: 700px;
    max-width: 1200px;
    background-image: url("/img/img-mission-background.jpg");
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header-text {
    background-color: black;
    padding: 10px 20px;
    text-align: center;
}

.header-text h2 {
    margin-bottom: 20px;
}


.tea-of-the-month {
    max-width: 1000px;
    margin: 20px auto 100px auto;
}

.tea-of-the-month h2 {
    margin-bottom: 20px;
}

.tea-of-the-month h4 {
    margin-bottom: 25px;
}

.tea-img-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tea-img-item img {
    width: 300px;
    height: 200px;
    margin: 0 10px;
}

.tea-img-item h4 {
    margin-top: 10px;
}

/*Locations Section*/
.locations {
     background-image: url("/img/img-locations-background.jpg");
     background-position: center;
     height: 500px;
     max-width: 1200px;
     margin: 0 auto;
     width: 100%;
     max-width: 1200px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.locations h2 {
    margin-bottom: 15px;
}


.location-items {
    opacity: 1;
    display: flex;
}

.location-item {
    width: 300px;
    height: 200px;
    padding: 10px;
    background-color: black;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.location-item h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.location-item  p {
    margin-bottom: 15px;
    font-size: 18px;
}

/*Footer Section*/
footer {
    margin: 30px 20px 0;
    height: 200px;
}

footer h2, h5 {
    margin-bottom: 30px;
}

footer p {
    text-align: left;
}