/*Universal styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

/*Nav*/
nav {
    display: flex;
    flex-direction: row;
    height: 69px;
    position: fixed;
    opacity: 0.75;
    left: 0;
    right: 0;
    border-bottom: 1px solid seashell;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo {
    height: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    flex-basis: 400px;
}

.nav-link {
    list-style: none;
}

.nav-link a {
    color: seashell;
}

.nav-link a:hover {
    text-decoration: none;
}

.nav-link a:active {
    font-size: 25px;
    font-weight: bold;
}

/*Header*/
header {
    height: 700px;
    width: 1200px;
    background-image: url("/img/img-mission-background.jpg");
    background-position: center;
    opacity: 0.6;
    position: relative;
    top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.header-text {
    background-color: black;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
}

.header-text h2 {
    margin-bottom: 20px;
}