/*Universal styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    display: flex;
    justify-content: center;
}

/*Nav*/
nav {
    display: flex;
    flex-direction: row;
    height: 69px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid seashell;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.logo {
    height: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    flex-basis: 400px;
}

.nav-link {
    list-style: none;
}

.nav-link a {
    color: seashell;
}

.nav-link a:hover {
    text-decoration: none;
}

.nav-link a:active {
    font-size: 25px;
    font-weight: bold;
}

/*Header*/
header {
    height: 700px;
    width: 1200px;
    background-image: url("/img/img-mission-background.jpg");
    background-position: center;
    position: absolute;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.header-text {
    background-color: black;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
}

.header-text h2 {
    margin-bottom: 20px;
}

/*Main*/
main {
    position: absolute;
    top: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tea-of-the-month {
    width: 1000px;
    text-align: center;
}

.tea-of-the-month h2 {
    margin-bottom: 20px;
}

.tea-of-the-month h4 {
    margin-bottom: 25px;
}

.tea-img-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tea-img-item img {
    width: 300px;
    height: 200px;
    margin: 0 10px;
}

.tea-img-item h4 {
    margin-top: 10px;
}